rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Доступ к своему профилю, если залогинен
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Разрешить любому залогиненному пользователю читать документы пользователей
      // (нужно для транзакций с invite code)
      allow read: if request.auth != null;

      // Разрешить любому залогиненному пользователю добавлять себя в usedBy,
      // если добавляется ровно один новый элемент, и остальные поля не меняются
      allow update: if request.auth != null
        && request.resource.data.keys().hasOnly(['usedBy'])
        && request.resource.data.usedBy.size() == resource.data.usedBy.size() + 1
        && request.resource.data.usedBy.slice(0, resource.data.usedBy.size()) == resource.data.usedBy;
    }

    // Доступ на чтение inviteCode (анонимный, только с фильтром и лимитом)
    match /users/{document=**} {
      allow list: if true;
      allow list: if request.query != null &&
                   request.query.filters.size() == 1 &&
                   request.query.filters[0].fieldPath == "inviteCode" &&
                   request.query.filters[0].op == "==" &&
                   request.query.limit <= 10;
    }
  }
}
