rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Доступ к своему профилю, если залогинен
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Доступ на чтение inviteCode (анонимный, только с фильтром и лимитом)
    match /users/{document=**} {
      allow list: if request.query != null &&
                   request.query.filters.size() == 1 &&
                   request.query.filters[0].fieldPath == "inviteCode" &&
                   request.query.filters[0].op == "==" &&
                   request.query.limit <= 10;
    }
  }
}
